{namespace template2}

/**
**/
{template .formletter}
    {@param title: ?}
    {@param surname: ?}
{msg desc="Promotional message for ordering theme songs"}Dear {$title} {$surname}: With a name like {$title} {$surname}, shouldn't you have your own theme song? We can help!{/msg}
{/template}

/**
**/
{template .formletterCall}
    {@param title: ?}
    {@param surname: ?}
{call template1.formletter data="all" /}
{/template}
